@page "/Statistik"

@using ordinationsapp.Data;
@using shared.Model;
@using ordinationsapp.Shared
@using ordinationsapp.Model;
@inject ApiService apiService

<div class="container">
    <h1>Vis statistik</h1>
    <br />
    <div class="row">
        <div class="col-md-12 border p-3">
            <h3>Antal ordinationer</h3>

            <div class="form-group row">
                <label for="vægtfra" class="col-sm-4 col-form-label">Vægt fra</label>
                <div class="col-sm-8">
                    <input @bind="vægtFra" type="number" class="form-control" id="vægtfra">
                </div>
            </div>

            <div class="form-group row">
                <label for="vægttil" class="col-sm-4 col-form-label">Vægt til</label>
                <div class="col-sm-8">
                    <input @bind="vægtTil" type="number" class="form-control" id="vægttil">
                </div>
            </div>

            <div class="form-group row">
                <label for="lm" class="col-sm-4 col-form-label">Lægemiddel</label>
                <div class="col-sm-8">
                    <select @bind="laegemiddelId" name="valg" type="text" class="form-control" id="lm">
                        @if(laegemidler != null)
                        {
                            @foreach (var laegemiddel in laegemidler)
                            {
                                <option value="@laegemiddel.LaegemiddelId">@laegemiddel.navn</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <button @onclick="Beregn" class="btn btn-success">Beregn</button>
        </div>
 @if(resultat != 0)
        {
        <div class="col-md-12 border p-3">
            <h3>Resultat</h3>

            <div class="form-group row">
                <label for="antal" class="col-sm-4 col-form-label">Antal</label>
                <div class="col-sm-8">
                <input readonly type="number" class="form-control" id="antal" value="@resultat">
                </div>
            </div>

        </div>
        }
    </div>
</div>

@code {
    public Ordination? ordination;
    public List<Ordination> ordinationer = new List<Ordination>();
    public Laegemiddel[]? laegemidler;
    
    public int laegemiddelId;
    public int vægtFra;
    public int vægtTil;
    
    public double resultat;
    
    /*Connects to api and starts to fetch a list of ordinationer
     When a option i selected it should fetch the number for antal ordinationer
     */

    protected override async Task OnInitializedAsync()
    {
        laegemidler = await apiService.GetLaegemidler();
    }
    
    public async Task Beregn()
    {
        Console.WriteLine($"vægtFra: {vægtFra}, vægtTil: {vægtTil}, laegemiddelId: {laegemiddelId}");

        if (laegemiddelId == 0 || vægtFra == 0 || vægtTil == 0)
        {
            return;
        }
        
        var res = await apiService.GetAntalGangeGivet(laegemiddelId, vægtFra, vægtTil);
        if (res == null) return;
        
        resultat = res;
    }
    
    
    
}